@using E_CommerceMVC.ViewModels.Brands
@model CreateBrandFormViewModel

@{
    ViewData["Title"] = "Add Brand";
}

<h5>Add a new Brand</h5>


<form asp-controller="Brands">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="BrandName" class="form-label mt-4"></label>
            <input type="text" asp-for="BrandName" class="form-control" placeholder="Name" />
            <span asp-validation-for="BrandName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-light text-black mt-4">Save</button>
        <div class="col-md-6"></div>
    </div>

</form>