@{
    ViewData["Title"] = "Brands";
}

<a class="btn btn-secondary" asp-action="Create">Add Brand</a>
<a class="btn btn-secondary" asp-action="GetAll">Show Brands</a>
<a class="btn btn-secondary" asp-action="Update">Update Brand</a>
<a class="btn btn-secondary" asp-action="Delete">Delete Brand</a>
