@{
    ViewData["Title"] = "Products";
}

<a class="btn btn-primary mb-2 mt-2" asp-action="Create">Add Product</a> <br > 
<a class="btn btn-primary mb-2" asp-action="GetProducts">Get Products</a> <br > 
<a class="btn btn-primary mb-2" asp-action="Update">Update Product</a> <br > 
<a class="btn btn-primary mb-2" asp-action="Delete">Delete Product</a> <br >
<a class="btn btn-primary mb-2" asp-action="GetDetails">All Products Details</a>
