@using E_CommerceMVC.ViewModels.Users
@model LoginFormDto

@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Users" asp-action="Login">

    <label asp-for="UserName" class="form-label mt-4"></label>
    <input type="text" asp-for="UserName" placeholder="name" class="form-control" />

    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    <br /><button type="submit" class="btn btn-light text-black mt-4" style="display:block">Login</button>
</form>