@using E_CommerceMVC.ViewModels.Users
@model CreateUserFormViewModel

@{
    ViewData["Title"] = "Register";
}

<form asp-controller="Users" asp-action="Register">

    <label asp-for="UserName" class="form-label mt-4"></label>
    <input type="text" asp-for="UserName" placeholder="name" class="form-control" />


    <label asp-for="age" class="form-label mt-4"></label>
    <input type="number" asp-for="age" placeholder="age" class="form-control" />

    <button type="submit" class="btn btn-light text-black mt-4">Register</button>
</form>