@{
    ViewData["Title"] = "Categories";
}

<a class="btn btn-secondary mb-2" asp-action="Create">Create Category</a> 
<br /><a class="btn btn-secondary mb-2" asp-action="GetCategories">Get Categories</a>
<br /><a class="btn btn-secondary mb-2" asp-action="Update">Update Category</a>
<br /><a class="btn btn-secondary mb-2" asp-action="Delete">Delete Category</a>


